/* -----normalize------ */
*{
    box-sizing: border-box;
}

body,
h2,
p{
    margin: 0;
}
/* ----------------------- */

body{
    position: relative;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: hsl(0, 0%, 95%);
}

.card_heading{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
}

.componet-container{
    margin: 10% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.component-container_card{
    max-width: 300px;
    padding: 40px;
}

@media screen and (max-width: 899px) {
    .component-container_card:last-of-type{
        max-width: 600px;
    }
}

@media screen and (max-width: 599px) {
    .component-container_card{
        max-width: 500px;
        margin-right: 5%;
        margin-left: 5%;
    }
}

/* -----backgrounds seting */

.sedans{
    background: hsl(31, 77%, 52%) ;
}

.sedans .card_btn{
    color: hsl(31, 77%, 52%);
}

.suvs{
    background: hsl(184, 100%, 22%) ;
}

.suvs .card_btn{
    color: hsl(184, 100%, 22%) ;
}

.luxury{
    background: hsl(179, 100%, 13%);
}

.luxury .card_btn{
    color: hsl(179, 100%, 13%);
}

/* ----------------------- */

.card-logo{
    margin-bottom: 2em;
}

.card_text{
    margin-top: 2em;
    line-height: 1.6;
}

.card_btn{
    display: inline-block;
    text-decoration: none;
    background: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    padding: 1em 2.5em;
    margin-top: 5em;
    border-radius: 30px;  
}

.card_btn:hover,
.card_btn:focus{
    background: none;
    color: hsl(0, 0%, 95%);
}


/* footer default styles */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: black;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}